{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <script src="{% static 'metadata/create.js' %}?v=6"></script>
{% endblock scripts %}

{% block title %}
 Create Metadata
{% endblock title %}

{% block content %}

{% if success %}
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Metadata</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Metadata created successfully!<p>
        </div>
        <div class="modal-footer">
          <a href="{% url 'metadata:detail' metadata.metadata_id%}" class="btn btn-secondary" data-dismiss="modal">Close</a>
          <a href="{% url 'metadata:upload' %}" class="btn btn-primary">Add Another </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<br>
<div id="alert-box"></div>


{% if err_msg %}
<div class="alert alert-danger" role="alert">
  {{err_msg}}
</div>
{% endif %}

{% if form %}
<form id="metada_form" action="/create/{{metadata.metadata_id}}/" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <div id="keyword_selection" class="form-control mb-1 mt-1">
      <label> Science Keywords:</label>
      <select id="keywords" name="science_keywords"  style="width:100%" multiple="multiple" required></select>
    </div>
    
    <input id="default_keywords" type="hidden" value="{% for keyword in metadata.science_keywords.all %}{{keyword.id}}-{{keyword.full_name}};{% endfor %}">
    <button id="btnSubmit" type="submit" class="btn btn-primary mt-3">Submit</button>
</from>
{% endif %}

{% endblock content %}